@font-face {
    font-family: "astetik";
    src: url("../css/Fuentes/modernaestheticdemoversionregular-2oaed.otf");
}
header{
    display: table;
    width: 100%;
    height: 600px;
    background-color:rgb(36, 55, 99);
    background-image: url(https://images.unsplash.com/photo-1508050919630-b135583b29ab?q=80&w=2071&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D);
    background-repeat: no-repeat;
    background-size: 100% 100%;
   
  }
  nav ol li{
    list-style: none;
  }
  
  nav ol{
    display: flex;
  }
 
  nav {
    background-color: transparent;
    opacity: 0.5;
  }
  nav ol li a{
    text-decoration: none;
    padding: 15px 20px 15px 0px;
    display: table;
    color: white;
    align-items: end;
  }
  
h1{
    font-family: "astetik";
    font-size: 7em;
    color: #3D0C11;
}
h2{
    margin-top: 2%;
    margin-bottom: none;
    font-family: "astetik";
    font-size: 3em;
    color: #3D0C11;
    text-align: center;
    letter-spacing: 20px;
   
    }

h3{
    margin-top: 2%;
    margin-left: 2%;
    margin-bottom: none;
    font-family: "astetik";
    font-size: 2.5em;
    color: #3D0C11;
    text-align: center;
    letter-spacing: 18px;
}
h5{
  font-family: "astetik" !important;
  font-size: 1.5em !important;
  margin-left: 2% !important;
  color: #3D0C11;
}
h6{
  font-family: 'Inconsolata', monospace;
  font-size: 2em;
  color: black;
  margin-top: 45%;
  margin-bottom: 4%;
  margin-left: 5%;
  margin-right: 5%;
}
.pcompleta{
    display:flex;
    width: 100%;
    height: 600px;
    background-color: white;
    margin: none;
}
.pmedia{
    width: 50%;
    height: 600px;
    margin-top: 4%;
    margin-bottom: 4%;
    margin-left: 5%;
    margin-right: 1%;

}
.pmediar{
   
    width: 50%;
    height: 600px;
    margin-top: 4%;
    margin-bottom: 4%;
    margin-left: 10%;
    margin-right: 10%;
    text-align: center;
    color: #3D0C11;
   
    
}
p{
    font-family: 'Inconsolata', monospace;
    font-size: 1.3em;
    color: black;
    margin-top: 2%;
}
#cartas,#cartas1{
    display: flex;
    flex-wrap: wrap;
    margin-top: 1%;
    margin-bottom: 1%;
    margin-left: 3%;
    margin-right: 3%;
    justify-content: space-between;
}
#cartas p, #cartas1 p{
    font-size: 100%;
    flex-wrap: wrap;
    text-align: left;
    margin-top: 3%;
    margin-bottom: 4%;
    margin-left: 3%;
    margin-right: 3%;
}
#cartas1 img{
  height: 240px !important;
}
#cartas img, #cartas1 img{
  margin-bottom: 0% !important;
 
  
}

.card{
    margin-left: 1% !important;
    margin-right:1% !important;
    margin-top: 2% !important;
    margin-bottom: 1% !important;
    box-sizing: 10px !important;
    flex-grow: 1 !important;
    flex-basis: 200 !important;
    box-shadow: 0 0 10px 2px #ccc !important;
    
  }
.card-body,.card-text{
    background-color: white !important;
}

  
  form {
    text-align: left;
    width: 400px;
    margin-top: 5%;
    margin-bottom: 5%;
    margin-left: 10%;
    margin-right: 0%;
  }
  label {
    font-weight: bold;
  }
  
  input, textarea{
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    outline: none;
  }
  
  input[type="submit"] {
    background-color: #3D0C11;
    color: #fff;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
    
  }
  
  input:focus , textarea:focus, footer img:focus {
    border: 1px solid #000;
      
  }
  
  input:hover,textarea:hover{
    box-shadow: 0 0 10px 2px #ccc
  }
  footer img:hover{
    box-shadow: 0 0 10px 2px #3D0C11;
  }

  footer{
    display: table;
    justify-content:center;
    text-align: center;
    width: 100%;
    color: white;
    font-size: 1.3;
    background-color:#3D0C11;
    height: 150px;
    font-family: 'Inconsolata', monospace;
  }
  footer img{
    border-radius: 50%;
    width: 50px;
    height: 50px;
    margin-top: 5px;
    margin-bottom: 5px;
    margin-right: 3px;
    box-shadow: 0 0 10px 2px #ccc
  }
